/* Background Style */
.back-ground{
    background-image: linear-gradient(to right, rgba(201, 177, 177, 0), rgb(123, 170, 233));

}

/* Title Style */
.heading{
    font-size: 50px;
    margin-top: 3%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color:rgb(11, 17, 29);
    text-shadow: 2px 2px 8px #33619c;
}
/* Search-Bar style */
.btn-style{
    background-color: rgb(135, 162, 212);
    font-weight: 500;
    color: black;
}
.form-control{
    background-color: rgb(243, 231, 231);
}
/* Display hide  */
.notify, #spin, #spin2{
    display: none;
}



/* Media Queries  */
/* Mobile Devices  */
@media only screen and (max-width: 576px){
    .heading{
        font-size: 26px;
        margin-top: 3%;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: bold;
        color:rgb(11, 17, 29);
        text-shadow: 2px 2px 8px #33619c;
    }
}